[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.82.0"
numpy = "==1.23.2"
sse-starlette = "==1.1.6"
tokenizers = "==0.12.1"
tritonclient = {version = "==2.25.0", extras = ["all"]}
uvicorn = "==0.18.3"
firebase-admin = "*"
ujson = "*"

[dev-packages]

[requires]
python_version = "3.10"
